<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250904866981-pfkh342idhm90ui3llpnvvi7ck992ssv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250904866981-pfkh342idhm90ui3llpnvvi7ck992ssv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>250904866981-s0por1un825ul5r1ae2ke645l15r4l8n.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlj_T6ACbUEugngxEoczYPh7DTMgIMQVs</string>
	<key>GCM_SENDER_ID</key>
	<string>250904866981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cricketApi</string>
	<key>PROJECT_ID</key>
	<string>cricketdataapi</string>
	<key>STORAGE_BUCKET</key>
	<string>cricketdataapi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250904866981:ios:3e95e7e34911aa42fedd4c</string>
</dict>
</plist>